/build

site/
_build/
lib/
include/
bin/
.DS_Store

*.aux
*.bbl
*.log
*.blg
*.bak
*.out
*.snm
*.nav
*.toc
*.vrb
*.pdf

# don't ignore pdfs in here, they are published online
!/docs/_static/pdf/**/*.pdf
