/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff5d2c;
  --ifm-color-primary-dark: #dd4719;
  --ifm-color-primary-darker: #c93a0f;
  --ifm-color-primary-darkest: #b52f06;
  --ifm-color-primary-light: #ff7950;
  --ifm-color-primary-lighter: #ff7b53;
  --ifm-color-primary-lightest: #ff9271;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff5d2c;
  --ifm-color-primary-dark: #dd4719;
  --ifm-color-primary-darker: #c93a0f;
  --ifm-color-primary-darkest: #b52f06;
  --ifm-color-primary-light: #ff7950;
  --ifm-color-primary-lighter: #ff7b53;
  --ifm-color-primary-lightest: #ff9271;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.members {
  float: right;
  margin-left: 2em;
  width: 15em;
}