.md-header-nav {
    background-color: black;
}

[data-md-color-primary=deep-orange] .md-header {
    background-color: black;
}

.md-footer {
    margin-top: 10%;
}

.md-nav--secondary__title {
    margin-bottom: 10%;
    font-size: 2em;
}

.md-nav--secondary__item {
    margin-top: 10%;
}
